ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 35px 35px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: grey;
    
  }

  body { background-image:url(back.jpg);
    font: 1em sans-serif; 
}

  h1,h2,h3  {text-align: center;
justify-content: center;
font-size: 15px;
color: white;
  }

  .container{  display: flex;
    justify-content: left;
    align-items: flex-end;
  
} 


.video {justify-content: right;
    align-items: flex-end;
 display: flex;
height: 50vh;
} 

.about {text-align: center;
  justify-content: center;
  font-size: 35px;
  color: white;
    }
  
h4,p  {color: white;
  text-align: center;
  justify-content: center;
}

footer   {
  display: flex;
  justify-content: center;
  padding: 100px;
  margin-top: auto;  
}

.logo {
  max-width: 300px;
  height: auto;
}

.opcije { 
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 20px; 
  background-color: black;
  padding: 100px;

}

.opcije img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.opcije p{
padding: 80px;
}

h5 {color: white;
  text-align: center;
justify-content: center;
display: flex;
font-size: large;
padding: 100px;
}

.about1 {
background-color: black;
}

.shop {
display: grid;
gap: 100px;
margin: 50px;
}

/* Characters urđivanje*/

.characters {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Responzivni raspored */
    gap: 80px;
    justify-items: center; /* Centriranje slika horizontalno */
}

  .characters img {
max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.characters p {
  margin-top: 10px;
  font-size: 16px;
  text-align: center;
  color: white;
}




/* Responzivni stilovi */
@media only screen and (max-width: 768px) {
    .characters {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Prilagodljiva širina slika */
    }
}

/* Projekt Responzivnost */

@media (max-width: 768px) {
  nav ul {
      flex-direction: column;
      align-items: center;
  }

  .video video {
      width: 100%;
      height: auto;
  }

  .opcije {
      flex-direction: column;
      align-items: center;
  }

  .opcije div {
      max-width: 100%;
  }
}

@media (max-width: 768px) {
  h1, h2, h3 {
      font-size: 1.2em;
      padding: 0 10px;
  }

  .video video {
      width: 100%;
      height: auto;
  }

  .container img {
      width: 100%;
      height: auto;
  }

  .opcije {
      flex-direction: column;
      align-items: center;
  }

  .opcije div {
      max-width: 100%;
  }
}